*.sql text eol=crlf
*.pas text eol=crlf
*.cfg text eol=crlf
*.dof text eol=crlf
*.dpr text eol=crlf
*.bpg text eol=crlf
*.dpk text eol=crlf
*.drc text eol=crlf
*.rc text eol=crlf
*.bat text eol=crlf
*.csv text eol=crlf
*.sml text eol=crlf
*.dfm text eol=crlf
*.txt text eol=crlf
*.classlist text eol=crlf
*.ini text eol=crlf
*.properties text eol=crlf
*.idg text eol=crlf
*.catalog text eol=crlf
*.xml text eol=crlf
*.cfx text eol=crlf
*.inc text eol=crlf
*.htm text eol=crlf
*.html text eol=crlf
*.conf text eol=crlf
*.hmp text eol=crlf
*.jhm text eol=crlf
*.css text eol=crlf
*.js text eol=crlf
*.dtd text eol=crlf
*.cs text eol=crlf
*.xsd text eol=crlf
*.map text eol=crlf
*.csproj text eol=crlf
*.wsdl text eol=crlf